/*RODAPÉ*/

#footer_content {
    background-color: var(--baseboard-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

#footer_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer_info h1 {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    color: var(--font-color);
    font-weight: 800;
    font-size: 15pt;
}

#footer_info p {
    margin-bottom: 0.75rem;
    color: var(--font-color);
}

#footer_social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer_social h2 {
    font-weight: 600;
    font-size: 15pt;
    margin-top: 0.75rem;
    text-align: center;
    color: var(--font-color);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--border-color);
    font-size: 0.7rem;
    padding: 1.5rem;
    font-weight: 100;
}

#footer_copyright p {
    color: var(--font-color);
}

#footer_about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer_about h2 {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    color: var(--font-color);
    font-weight: 800;
    font-size: 15pt;
}
