/*MENU DA NAVEGAÇÃO*/

.navegation {
    width: 100%;
    font-size: 15pt;
    line-height: 1;
    background: var(--main-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}

.header-link {
    display: flex;
    font-size: 12pt;
    gap: 5rem;
    padding-left: 5%;
    align-items: center;
}

.header-link a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: 700;
    transition: 0.3s;
}

.header-link a:houver {
    color: var(--border-color);
}