@import 'body';
@import 'header';
@import 'footer';
@import 'text';

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');

:root {
    --main-color: #000000;
    --font-color: #fffefe;
    --title-color: #000000;
    --baseboard-color: #000000;
    --border-color: #474747;
    --white-color: #fffefe;
}

.main-contacts a {
    text-decoration: nome;
}

/*TITULOS*/

.title {
    font-size: 20pt;
    background-color: var(--main-color);
    color: var(--font-color);
    padding-top: 2rem;
    border: 2px solid var(--main-color);
    text-align: center;
}

.sub-title {
    font-size: 20pt;
    text-align: center;
    margin: 50px 10px 10px 10px;
}

.logo-renan {
    margin: 10px;
    width: 100px;
    border: 20%;
    border: 2px solid var(--main-color);
    border-radius: 25px;
}

.image {
    margin: 10px 10px 10px 10px;
    width: 15%;
    height: 10%;
    border: 20%;
    border: 2px solid var(--main-color);
    border-radius: 25px;
}

.icons {
    margin: 10px 10px 10px 10px;
    width: 50px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    background-color: var(--white-color);
    padding: 1%;
}

/*PAI-E-FILHO*/

.child-box {
    border: #000 solid 1px;
    width: 550px;
    height: 180px;
    text-align: center;
    background-color: var(--main-color);
    border: 2px solid rgb(116, 116, 116);
    border-radius: 25px;
    padding: 5%;
}

.parent-box {
    display: flex;
    padding: 20px 20px 20px 20px;
}

.parent-box > p {
    position: absolute;
    margin-top: -30px;
    left: 30px;
}

.parent-box-caption {
    position: absolute;
    margin-top: 10px;
    left: 30;
}

#personal-info .parent-box {
    justify-content: center;
}

#hobbies-and-int .parent-box {
    justify-content: space-around;
}

/*RESPOSIVIDADE*/

@media screen and (max-widht: 600px) {
    .title, .sub-title {
      width: 100%;
    }
    .title {
      margin: 10px 0;
    }
    .sub-title {
     margin: 10px 0;
    }
    
    @media screen and (max-width: 380px) {
       


    }
  }